.container{
    max-width: 1270px;
    margin: 0 auto;
    padding: 0 60px;
}


.h2{
font-size: 35px;
margin-left: 450px;
}
.div_ota{
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}
.div_bola{
    border: 1px solid black;
    border-radius: 5px;
    width: 300px;
    height: 300px;
    box-shadow: 5px 5px 5px;
    
}
.div_bola:hover{
    background-color: rgba(0, 0, 0, 0.244);
}

.input{
    margin-left:5px;
    width: 250px;
    height: 25px;
    border-radius: 10px;
    
}
.input:hover{
    background-color: rgba(32, 28, 28, 0.425);
    color: brown;
    
}
.label{
    margin-left: 350px;
    font-size: 25px;
}
.submit{
    margin-left:5px;
    width: 150px;
    height: 25px;
    border-radius: 10px;
}
.submit:hover{
    background-color: rgb(168, 73, 73);
}
.img{
    width: 120px;
    height: 100px;
    margin-left: 90px;
    margin-top: 20px;
    border-radius: 10px;
}
.h3{
    margin-left: 110px;
    margin-top: -1px;
    
}

.span3{
    background-color: rgba(165, 42, 42, 0.756);
    color: aliceblue;
    border-radius: 5px;
    font-size: 18px;
    margin-left: 100px;
}
.span{
    background-color: rgba(165, 42, 42, 0.756);
    color: aliceblue;
    border-radius: 5px;
    font-size: 18px;
    margin-left: 100px;
}
.span2{
    background-color: rgba(165, 42, 42, 0.756);
    color: aliceblue;
    border-radius: 5px;
    font-size: 18px;
    margin-left: 100px;
}
.span1{
    background-color: rgba(165, 42, 42, 0.756);
    color: aliceblue;
    border-radius: 5px;
    font-size: 18px;
    margin-left: 100px;
}

.p_b{
    
    margin-top: -3px;
    margin-left: 100px;
}

.span1{
    animation: span1 5s 1s infinite;
}
